* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-size: 12px;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(238, 29%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
    background-image: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

#mobile-image,
#mobile-shadow {
    width: 75%;
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mobile-shadow {
    top: 5rem;
}

#desktop-image,
#desktop-shadow {
    display: none;
}


.content-wrapper {
    width: 90%;
    max-width: 375px;
    background-color: white;
    padding: 11rem 2rem 2rem 2rem;
    border-radius: 2rem;
    position: relative;
    /* Must set position to relative to get images to work */
}

.accordian {
    margin: 2rem auto;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

/* Set position to relative in order to position children h2 relative to it */
.accoridan .accordian-item {
    position: relative;
}

.accordian h2 {
    font-weight: 400;
    cursor: pointer;
    padding-top: 0.75rem;
    font-size: 1.1rem;
    position: relative;
}

.accordian-item h2:after {
    content: url("../images/icon-arrow-down.svg");
    position: absolute;
    right: 0;
    /* aligns to the right-hand side */
}

.accordian-item h2:hover {
    color: hsl(14, 88%, 65%);
}

/* p is hidden by default */
.accordian-item p {
    height: 0;
    overflow: hidden;
}

.underline {
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

/* ============= Active States ============= */
.accordian-item.active h2 {
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}

/* Rotate Arrow down when active */
.accordian-item.active h2:after {
    content: url("../images/icon-arrow-down.svg");
    transform: scaleY(-1);
}

.accordian-item.active p {
    height: 100%;
    margin-top: .75rem;
    color: hsl(240, 6%, 50%);
}


/* Attribution Styles */
.attribution { 
    font-size: 11px; 
    text-align: center;
    padding-top: 1rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/** Media Queries for Desktop and Tablet **/
@media only screen and (min-width: 786px) {

    .content-wrapper {
      max-width: 750px;
      padding: 3rem;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      overflow: hidden;
    }

    .image-container {
        position: relative;
    }

    #desktop-image {
        display: block;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    #desktop-shadow {
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        left: -15%;
        top: 50%;
        width: 200%;
    }

    #mobile-image,
    #mobile-shadow {
        display: none;
    }

    .accordian {
        display: flex;
        flex-direction: column;
    }

    .accordian h1 {
        text-align: left;
    }

    .attribution {
        display: none;
    }

}